@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFD569;
    --background-color: #2D2D2D;
    --background-secondary-color: #383838;
    --cv-header-font-size: 18px;
    --cv-text-font-size: 12px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: white;
}

h1, h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 36px;
    font-weight: normal;
}

h1 {
    color: var(--primary-color);
}

h2 {
    margin-top: 2rem;
    display: block;
    border-bottom: 2px solid var(--primary-color);
    width: fit-content;
}

.header{
    margin: 0 auto;
}

.header-section {
    display: flex;
    justify-content: flex-end;
    height: 490px;
    flex-direction: column;
    padding-bottom: 3rem;
}

.flags-container{
    padding: 1rem 0 0;
}

.flag {
    width: 20px;
    margin-right: 5px;
    height: auto;
}
    
.header span {
    display: block;
}

.sub-title {
    margin: 0 0 2rem ;
}

.portrait {
    width: auto;
    height: 490px;
    filter: grayscale(100%);
    margin: auto;
    transform: scaleX(-1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.75;
}

.header-grid{
    position: relative;
    width: 100%;
}

.container {
    width: 95%;
    margin: auto;
    max-width: 1440px;
}

button {
    width: 200px;
    padding: 10px;
    margin-bottom: 2rem;
    font-size: large;
    background-color: var(--background-color);
    border: var(--primary-color) solid 2px;
    border-radius: 5px;
    color: var(--primary-color);
}

button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

p {
    margin: 1em 10% 0;
    font-size: var(--cv-text-font-size);
    font-weight: 100;
}

.skills {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;  
}

.skills-header {       
    margin-top: 7rem;
    margin-bottom: 2rem;
}
.skill {
    display: flex;
    flex-direction: column;
    background-color: var(--background-secondary-color);
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 5px;
}

.skill:hover {
    box-shadow: #FFD569 0 0 10px;
    transform: scale(1.10);
    transition: all 0.5s;
}

.skill img {
    width: auto;
    height: 50px;
    margin: 1rem;
}

.cv-container-wrapper{
    background-color: var(--background-secondary-color);
    width: 100%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.cv-row {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 0.5fr 9.5fr;
    margin-bottom: 2.5rem;
}

.cv-year {
    position: relative;
    margin: 0 2rem;
    text-align: right;
    font-size: var(--cv-header-font-size);
    font-family: "DM Serif Display";
}

.circle {
    position: relative;
    content: "";
    width: calc(var(--cv-header-font-size) * 0.9);
    height: calc(var(--cv-header-font-size) * 0.9);
    background-color: var(--primary-color);
    border-radius: 50%;
    box-shadow: 0 0 35px -1px var(--primary-color);
    margin: 4px auto 0;
}

.circle::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 49%;
    width: 1px;
    height: 90px;
    background-color: white;
}

.cv-grid-two .cv-title{
    padding-left: 2rem;
    font-size: var(--cv-header-font-size);
    font-family: "DM Serif Display";
    
}

.portfolio-grid {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.portfolio-grid img{
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
}

.footer {
    position: relative;
    background-color: var(--background-secondary-color);
    border-top: var(--primary-color) solid 2px;
    border-bottom: var(--primary-color) solid 2px;
    margin: 10rem auto 5rem;
}

.footer::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 50%; 
    width: 150px; 
    height: 2px; 
    background-color: var(--background-secondary-color);
    transform: translateX(-50%);
}

.footer h2 {
    position: absolute;
    border: none;
    font-size: 20px;
    margin-top: 0;
    top: -3px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer .footer-content {
    width: 40%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 5rem 0;    
    justify-content: center; 
    align-items: center; 
}

.footer-pill {
    background-color: var(--background-color);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--primary-color);
}

@media screen and (min-width: 768px) {
    :root {
        --cv-header-font-size: 24px;
        --cv-text-font-size: 14px;
    }

    .container {
        width: 90%;
    }
    


    .skills {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .circle {
        width: calc(var(--cv-header-font-size) * 0.8);
        height: calc(var(--cv-header-font-size) * 0.8);
        margin: 6px auto 0;
    }

    .portfolio-grid {
        flex-direction: row;
    }
    
    .portfolio-grid img{
        max-width: 200px;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --cv-header-font-size: 24px;
        --cv-text-font-size: 14px;
    }
    h1 {
        font-size: 60px;
    }

    .portrait {
        height: 600px;
    }

    .header-section {
        height: 600px;
    }

    .skills {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

 

    .circle::after {

        top: 35px;
        
    }
    
    .portfolio-grid img{
        max-width: 300px;
    }
}

@media screen and (min-width: 1440px) {
    :root {
        --cv-header-font-size: 32px;
        --cv-text-font-size: 16px;
    }
    h1 {
        font-size: 70px;
    }
    .portrait {
        height: 800px;
    }
    /* .portrait {
        width: auto;
        height: 490px;
        filter: grayscale(100%);
        margin: auto;
        transform: scaleX(-1);
        position: absolute;
        top: 0;
        z-index: -1;
        opacity: 0.75;
    } */

    .header-section {
        height: 800px;
    }

    .skills {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .circle {
        width: calc(var(--cv-header-font-size) * 0.9);
        height: calc(var(--cv-header-font-size) * 0.9);
        margin: 6px auto 0;
    }

    .circle::after {
        top: 50px;
    }

    .footer::before {
        width: 250px; 
        height: 5px; 
    }

    .footer h2 {
        font-size: var(--cv-header-font-size);
    }
}